<template>
    <div>
        <hero></hero>
        <carousel></carousel>
        <features></features>
        <bestApp></bestApp>
        <chat></chat>
    </div>
</template>
<script>
import Hero from "./components/Hero";
import Carousel from "./components/Carousel";
import Features from "./components/Features";
import bestApp from "./components/bestApp";
import  chat  from "./components/Chat";


export default {
  name: "components",
  components: {
    Hero,
    Features,
    bestApp,
    Carousel,
    chat
   
  }
};
</script>
