<template>
<section class="section section-lg">
    <div class="container-fluid">
        <div class="row row-grid justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="display-3">
                    <span>التطبيقات المميزة</span>
                </h2>
                <p class="lead">تطبيقات تقدم حلول وخدمات مميزه نوصي بتجربتها</p>

               
            </div>
        </div>
        <div class="my-2">
            <div class="row justify-content-center">
                <div v-for="item in bestApp" :key="item.message" class="col-lg-4 mt-2">
                    <div class="bg-gray rounded">
                        <div class="media  p-3">
                            <img src="img/icons/kamara.svg" alt="John Doe" class="mx-2" style="width:60px;">
                            <div class="media-body">
                               <h5 class="purpule inlineBlock">{{item.title}} </h5> 
                               <span class="mx-3">{{item.star}} <img class="mx-1" src="img/icons/IconStar.svg"></span>
                               <div><strong>تطوير</strong><span>{{item.developerName}}</span></div>
                                <p>{{item.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-grid justify-content-center">
            <div class="col-lg-8 text-center">
               
                <div class="btn-wrapper mt-5">
                  <router-link to="apps" class="btn mb-3 mb-sm-0 btn-icon linkColor" title="Page">
                                 تصفح التطبيقات <img src="img/icons/DownArrow.svg">
                  </router-link>               
                </div>
            </div>
        </div>
    </div>
</section>
</template>

<script>
import {
    webService
} from "../../services";
export default {
   data: () => ({
     bestApp: ''
   }),
  mounted(){
    this.GetBestApp()
  },
methods:{
    GetBestApp: function () {
            webService.get("allApp", {}).then((response) => {
                this.bestApp = response.data
            }).catch((err) => {
                console.log("errerrerrerr=>>>" +JSON.stringify(err))
                                });
        },
}
};
</script>

<style>
.linkColor{
  color: #e2a13b !important

}
</style>
