<template>
    <section class="section section-shaped overflow-hidden my-0 section-carousel" style="background-image: url(img/carousel/carousel.png)">
        
        <div class="container py-0 pb-lg">
            <div class="row justify-content-between align-items-center">
               
                <div class="col-lg-12 mb-lg-auto">
                    <!-- shadow-lg ransform-perspective-right -->
                    <div class="rounded  overflow-hidden ">
                        <b-carousel id="carousel1"
                                    controls
                                    indicators>
                            <!-- Text slides with image -->
                            <b-carousel-slide img-src="img/carousel/product1.svg"></b-carousel-slide>
                            <b-carousel-slide img-src="img/carousel/product1.svg"></b-carousel-slide>
                        </b-carousel>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
import { BCarousel } from "bootstrap-vue/esm/components/carousel/carousel";
import { BCarouselSlide } from "bootstrap-vue/esm/components/carousel/carousel-slide";

export default {
  components: {
    BCarousel,
    BCarouselSlide
  }
};
</script>
<style>
.section-carousel{
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
