<template>
<div>
                  <button class="btn btn-default btn-circle chatBtn"><i class="fa fa-comment fa-2x" aria-hidden="true"></i></button>

  </div>
</template>
<script>

export default {
 

};
</script>
<style >
.chatBtn{
  position: fixed !important;
    bottom: 20px;
    right: 16px;
    border-radius: 50% !important;
    height: 5em;
    color: #9458ab !important;
    background-color: #fed14a !important;
    border-color: #fed14a !important;
}
</style>