<template>
  <section class="section section-shaped overflow-hidden my-0 bg-gray">
    <chat ></chat>
    <div class="container-fluid">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-6">
          <h3 class="purple font-weight-bold">
            كل ما تحتاجه لنمو متجرك فى مكان واحد
          </h3>
          <p class="lead text-dark mt-4 mb-5">
            طور متجرك ووسع أفاق تجارتك مع سوق تطبيقات زد التي تساعدك <br />
            فى نمو أرباح اداره عمليات متجرك بشكل فعال واحترافي
          </p>
          <div class="mb-4">
            <div class="media  ">
                <div   class="shadow-sm p-3 mb-2 bg-white rounded rounded-circle">
                    <img src="img/icons/Vector.svg" alt="icon" style="1.5em"/>
                 </div>
              <div class="media-body">
                <h5 class="m-3">
                  سهوله اداره وتفعيل تطبيقاتك من نفس لوحه التحكم
                </h5>
              </div>
            </div>
            <div class="media ">
                <div   class="shadow-sm p-3 mb-2 bg-white rounded rounded-circle">
                    <img src="img/icons/Group.svg" alt="icon" style="1.5em"/>
                 </div>
              <div class="media-body">
                <h5 class="m-3">
                  دعم فني وتقني متوفر على مدار الساعه
                </h5>
              </div>
            </div>
            <div class="media  ">
                <div   class="shadow-sm p-3 mb-2 bg-white rounded rounded-circle">
                    <img src="img/icons/money.svg" alt="icon" style="1.5em"/>
                 </div>
              <div class="media-body">
                <h5 class="m-3">
                  اسعاد تنافسيه مع تجربه مجانيه وباقات اشتراك متنوعه
                </h5>
              </div>
            </div>
          </div>
          <div class="btn-wrapper">
            <router-link to="apps" class="btn mb-3 mb-sm-0 btn-icon btn-primary" title="Page">
                                 تصفح التطبيقات <img src="img/icons/DownArrow.svg">
            </router-link>                     
           
          </div>
        </div>
        <div
          class="col-md-6 section-carousel"
          style="background-image: url(img/carousel/carouselH.png)"
        >
          <div class="p-3">
            <!-- shadow-lg ransform-perspective-right -->
            <div class="rounded overflow-hidden">
              <b-carousel id="carousel1" controls indicators>
                <!-- Text slides with image -->
                <b-carousel-slide
                  img-src="img/carousel/zidapp.svg"
                ></b-carousel-slide>
                <b-carousel-slide
                  img-src="img/carousel/product1.svg"
                ></b-carousel-slide>
              </b-carousel>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import { BCarousel } from "bootstrap-vue/esm/components/carousel/carousel";
import { BCarouselSlide } from "bootstrap-vue/esm/components/carousel/carousel-slide";

export default {
 components: {
    BCarousel,
    BCarouselSlide,
   
  },
};
</script>
<style>
.section-carousel {
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
