<template>
    <section class="section-hero section-shaped my-0">
        
        <div class="container shape-container d-flex align-items-center">
            <div class="col px-0 mt-5">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-10 text-center pt-lg mt-5">
                        <h2 class="purple font-weight-bold">طور متجرك ووسع أفاق تجارتك مع سوق تطبيقات زد</h2>
                        <p class="lead text-dark mt-4 mb-5"> طور متجرك ووسع أفاق تجارتك مع سوق تطبيقات زد التي تساعدك <br> فى نمو أرباح اداره عمليات متجرك بشكل فعال واحترافي</p>
                        <div class="btn-wrapper">
                            <router-link to="apps" class="btn mb-3 mb-sm-0 btn-icon btn-primary" title="Page">
                                 تصفح التطبيقات <img src="img/icons/DownArrow.svg">
                        </router-link>
                            <!-- <button class="btn mb-3 mb-sm-0 btn-icon btn-primary"> تصفح التطبيقات</button> -->
                           
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </section>
</template>
<script>
export default {};
</script>
<style>
</style>
