<template>
    <footer class="footer">
        
        <div class="container">
            <div class="row row-grid align-items-center">
                 <img src="img/icons/logo.jpg" class="footerImg my-2" alt="logo">
                <div class="col-lg-12 text-lg-center btn-wrapper">
                    <a target="_blank" rel="noopener" href="#"
                       class="text-white p-2 fa-2x	" data-toggle="tooltip"
                       data-original-title="Follow us">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a target="_blank" rel="noopener" href="#"
                       class="text-white p-2 fa-2x	" data-toggle="tooltip"
                       data-original-title="Like us">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                    <a target="_blank" rel="noopener" href="#"
                       class="text-white p-2 fa-2x	" data-toggle="tooltip"
                       data-original-title="Follow us">
                        <i class="fa fa-dribbble"></i>
                    </a>
                    <a target="_blank" rel="noopener" href="#"
                       class="text-white p-2 fa-2x	" data-toggle="tooltip"
                       data-original-title="Star on Github">
                        <i class="fa fa-github"></i>
                    </a>
                </div>
            </div>
           
           
        </div>
    </footer>
</template>
<script>
export default {
  name: 'app-footer',
  data() {
    return {
      year: new Date().getFullYear()
    }
  }
};
</script>
<style>
.footerImg{
    width: 11em;
    margin: auto;
}
</style>
