<template>
    <header class="header-global">
        <base-nav class="navbar-main" transparent type="" effect="light" expand>
            <router-link slot="brand" class="navbar-brand mr-lg-5" to="/">
                <img src="img/zid-logo.png" alt="logo">
            </router-link>

            <div class="row" slot="content-header" slot-scope="{closeMenu}">
                <div class="col-6 collapse-brand">
                    <router-link to="/" class="nav-link nav-link-icon" title="Page">
                        <img src="img/zid-logo.png">
                   </router-link>
                </div>
                <div class="col-6 collapse-close">
                    <close-button @click="closeMenu"></close-button>
                </div>
            </div>

            
            <ul class="navbar-nav align-items-lg-center ml-lg-auto">
                <li class="nav-item">
                     <router-link to="/" class="nav-link nav-link-icon" title="Page">
                            الرئيسيه
                        </router-link>
                    
                </li>
                <li class="nav-item">
                     <router-link to="/develop" class="nav-link nav-link-icon" title="Page">
                                                   التصنيفات

                        </router-link>
                    
                </li>
                <li class="nav-item">
                    <router-link to="/apps" class="nav-link nav-link-icon" title="Page">
                                                   التطبيقات

                        </router-link>
                    
                </li>
                <li class="nav-item">
                    <router-link to="/develop" class="nav-link nav-link-icon" title="Page">
                                                    طور تطبيقك

                        </router-link>
                   
                </li>
                
            </ul>
        </base-nav>
    </header>
</template>
<script>
import BaseNav from "@/components/BaseNav";
import BaseDropdown from "@/components/BaseDropdown";
import CloseButton from "@/components/CloseButton";

export default {
  components: {
    BaseNav,
    CloseButton,
    BaseDropdown
  }
};
</script>
<style>
</style>
